<launch>

<node pkg="estimator" type="estimator_exc" name="estimator_node" args="$(find estimator)/../config/kitti_config00-02.yaml"/>

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find estimator)/../config/vloam.rviz"/>

<node pkg="rosbag" type="play" name="playbag" output="screen" args="/home/yzh/data/kitti_2011_09_26_drive_0023_synced.bag"/>

<!-- 注释   -->


</launch>


